<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D2L.Security.OAuth2" version="4.2.0.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.1" targetFramework="net452" />
</packages>