<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D2L.CodeStyle.Analyzers" version="0.36.0" targetFramework="net461" developmentOnlyDependency="true" />
  <package id="D2L.CodeStyle.Annotations" version="0.16.0" targetFramework="net461" />
  <package id="D2L.Services.Core.Exceptions" version="1.0.0.27289" targetFramework="net451" />
  <package id="D2L.Services.Core.Extensions" version="1.1.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.1" targetFramework="net451" />
</packages>